<div class="container">
  <div class="formBody">
    <h2 class="formHeader">Sign Up for Bartr</h2>
    <%= form_for @user, url: signup_path, html: {class: 'form'} do |f| %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.text_field :username, placeholder: "Username" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.label :birthday, "Birthday" %>
      <%= f.date_field :birthday %>
      <%= f.text_field :address, placeholder: "Address" %>
      <%= f.text_field :phone, placeholder: "Phone Number" %>
      <%= f.submit "Create Account" %>
    <% end %>
  </div>
</div>
