<h1>Users#read</h1>
<h2><%= @user.username %></h2>
<p><%= @user.email %></p>
<p><%= @user.birthday %></p>
<p><%= @user.address %></p>
<p><%= @user.phone %></p>
<% @user.offers.each do |offer| %>
  <a href = "<%= "offer/#{offer.id}" %>">
    <div>
      <h4><%= "#{offer.quantity} " %>
      <% if offer.unit != "" %>
        <%= "#{offer.unit} of " %>
      <% end %>
      <%= "#{offer.commodity.name}" %></h4>
      <% if offer.commodity.image.attached? %>
        <%= image_tag offer.commodity.image %>
      <% end %>
    </div>
  </a>
<% end %>
