<div class="container">
  <div class="formBody">
    <h2 class="formHeader">Update Your Account Info</h2>
    <%= form_for @user, url: account_path, html: {class: 'form'} do |f| %>
      <%= f.text_field :email, value: @user.email %>
      <%= f.text_field :username, value: @user.username %>
      <%= f.password_field :password, value: @user.password %>
      <%= f.date_field :birthday, value: @user.birthday %>
      <%= f.text_field :address, value: @user.address %>
      <%= f.text_field :phone, value: @user.phone %>
      <%= f.submit "Update Info" %>
    <% end %>
  </div>
</div>
