<h1>Pages#main</h1>
<p>Find me in app/views/pages/main.html.erb</p>
<p>This is where the user lands when first using the site</p>
<% if session[:id] %>
  <%= link_to "Offer Something of Yours to Trade", "/offer/new" %>
  <%= link_to "My Account", "/#{User.find(session[:id]).username}" %>
  <% Offer.all.each do |offer| %>
    <a href = "<%= "#{url_for offer_path(offer.id)}" %>"><h3><%= "#{offer.quantity} #{offer.unit} of #{offer.commodity.name}" %></h3></a>
    <p>Posted By: <%= User.find(offer.user_id).username %></p>
  <% end %>
<% end %>
