<% if session[:id] %>
  <%= link_to "Offer Something of Yours to Trade", "/offer/new" %>
  <%= link_to "My Account", "/#{User.find(session[:id]).username}" %>
  <h2 class = "centerText">See What's Being Offered:</h2>
  <div class = "container">
  <% Offer.all.reverse.each do |offer| %>
    <a href = "<%= "#{url_for offer_path(offer.id)}" %>">
      <div class = "offerCard">
        <h3 class='formHeaderSmall'>
          <%= "#{offer.quantity} #{offer.unit} of #{offer.commodity.name}" %>
        </h3>
        <div class="offerImage" style = "background-image: url('<%= image_url(url_for(offer.commodity.image)) %>');"></div>
        <div class = "flex columnFlex black">
          <p><%= offer.description %></p>
          <p><%= "by #{User.find(offer.user_id).username} at #{offer.updated_at}" %>
        </div>
      </div>
    </a>
  <% end %>
  </div>
<% end %>
