<h1>Offers#read</h1>
<p>Find me in app/views/offers/read.html.erb</p>
<div id = "offer">
  <h4><%= "#{@offer.quantity} " %>
  <% if @offer.unit != "" %>
    <%= "#{@offer.unit} of " %>
  <% end %>
  <%= "#{@offer.commodity.name}" %></h4>
  <% if @offer.commodity.image.attached? %>
    <%= image_tag @offer.commodity.image %>
  <% end %>
  <% if owner? %>
    <%= link_to "Edit this Listing", update_offer_path(params[:id]) %>
    <p><%= offerStatus(@offer.id) %></p>
    <% @offer.trades.each do |trade| %>
      <div>
        <h4><%= "#{trade.quantity} #{trade.unit} of #{trade.name}" %></h4>
        <p>Proposed by: <a href = "/<%= User.find(trade.user_id).username %>"><%= User.find(trade.user_id).username %></a></p>
        <p>Status: <%= tradeStatus(trade.id) %></p>
      </div>
      <% if trade.status == 0 %>
        <%= button_to "Accept", accept_path(trade.id) %>
        <%= button_to "Decline", decline_path(trade.id) %>
        <%= button_to "Counter", counter_path(trade.id) %>
      <% elsif trade.status == 2 %>
        <%= button_to "Complete", complete_path(trade.id) %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "Offer to Trade!", new_trade_path %>
  <% end %>
</div>
