<div class="formBody autoMargin">
  <h2 class='formHeaderSmall centerText'><%= @offer.commodity.name %></h2>
  <%= form_for @offer, url: update_offer_url(@offer.id), html: {multipart:true, class: 'form'} do |f| %>
    <div class = "imagePreview" style = "background-image: url('<%= image_url(url_for(@offer.commodity.image)) %>');"></div>
    <%= f.number_field :quantity, value: @offer.quantity, placeholder: "Quantity" %>
    <%= f.text_field :unit, value: @offer.unit, placeholder: "Units" %>
    <%= fields_for @offer.commodity do |commodity_form| %>
      <%= commodity_form.file_field :image, value: @offer.commodity.image %>
    <% end %>
    <%= f.text_area :description, {value: @offer.description, size: "20x10"} %>
    <%= f.submit "Edit this Offering" %>
  <% end %>
</div>
