<h1>Offers#update</h1>
<p>Find me in app/views/offers/update.html.erb</p>
<%= form_for @offer, url: update_offer_url(@offer.id) do |f| %>
  Quantity: <%= f.number_field :quantity, value: @offer.quantity %>
  Unit: <%= f.text_field :unit, value: @offer.unit %>
  Item: <%= @offer.commodity.name %>
  <%= image_tag @offer.commodity.image %>
  <%= f.submit "Edit this Offering" %>
<% end %>
