<h1>Trades#index</h1>
<p>Find me in app/views/trades/index.html.erb</p>
<% @trades.each do |trade| %>
<div>
  <h4>You offered:</h4>
    <%= trade.quantity %>
    <%= trade.unit %>
    <%= trade.name %>
  <p>for:</p>
    <%= "#{User.find(trade.offer.user_id).username}'s " %>
    <%= trade.offer.quantity %>
    <%= trade.offer.unit %>
    <%= trade.offer.commodity.name %>
    <p>Status: <%= tradeStatus(trade.id) %></p>
  <% end %>
</div>
