<h1>Trades#new</h1>
<p>Find me in app/views/trades/new.html.erb</p>
<%= form_for @trade, url: "/offer/#{params[:id]}/trade" do |trade_form| %>
  <%= trade_form.hidden_field :user_id, value: session[:id] %>
  <%= trade_form.hidden_field :offer_id, value: params[:id] %>
  Quantity: <%= trade_form.number_field :quantity %>
  Units: <%= trade_form.text_field :unit, placeholder: "(e.g. boxes, units, copies)" %>
  Item: <%= trade_form.text_field :name %>
  Image: <%= trade_form.file_field :image %>
  <%= trade_form.submit "Propose this trade!" %>
<% end %>
