<!DOCTYPE html>
<html>
  <head>
    <title>Bartr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href='/'>
        <div id="logo">
        </div>
      </a>
      <div>
      <% if session[:id] %>
        <%= link_to "My Account", user_path(User.find(session[:id]).username), {class: 'button'} %>
        <%= link_to "My Proposals", trades_path, {class: 'button'} %>
        <%= link_to "Account Information", account_path, {class: 'button'} %>
        <%= link_to "Log Out", logout_path, {method: 'post', class: 'button'} %>
      <% else %>
        <%= link_to "Signup", signup_path, {class: 'button'} %>
        <%= link_to "Log In", login_path, {class: 'button'} %>
      <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
