<!DOCTYPE html>
<html>
  <head>
    <title>Bartr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", main_path %>
    <% if session[:id] %>
      <%= link_to "Update Account Information", account_path %>
      <%= button_to "Logout", logout_path, method: 'post' %>
    <% else %>
      <%= link_to "Signup", signup_path %>
      <%= link_to "Log In", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
